# Environnement virtuel
venv/
ENV/
env/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs et temporaires
*.log
*.tmp
*.swp

# Fichiers de configuration locaux
*.env
*.local
*.sqlite3

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de l’éditeur (VS Code, PyCharm…)
.vscode/
.idea/

# Fichiers de test ou de debug
*.coverage
htmlcov/
.tox/
.cache/
.pytest_cache/

# Fichiers de build
build/
dist/
*.egg-info/
.eggs/

# Fichiers de diagrammes générés
uml/*.svg
uml/*.png
